* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 15px;
    height: 50px;
    position: relative;
    width: 100vw;
}

#logo,
#listHolder,
#searchNbtnHolder {
    display: flex;
    gap: 10px;
}

#logo {
    width: 20%;
    height: 45px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;    
}

#searchNbtnHolder{
    width: 20%;
}

nav li {
    width: auto;
    list-style-type: none;
    border: 1px solid #000;
    background-color: rgb(255, 255, 255);
    padding: 4px 10px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: .3 ease all;
    cursor: pointer;
}

nav li div {
    content: "";
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: -100%;
    transition: 0.2s linear all;
}

nav li:hover div {
    bottom: 0;
    border-radius: 0;
}

nav li p {
    color: rgb(0, 0, 0);
    z-index: 9;
    transition: 0.2s linear all;
    position: relative;
    font-size: 18px;
    font-weight: 100;
}

nav li:hover p {

    color: var(--hover-color);

}

nav div #search {
    height: 25px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: none;
    font-size: 15px;
    border: 1px solid var(--hover-border-color);
}

nav div #search:hover {
    border: 2px solid var(--hover-border-color);
    padding: 4px;
    background-color: var(-hover-color);
}

nav #toggle-btn {
    height: 25px;
    width: 45px;
    border: 1px solid black;
    border-radius: 15px;
    position: relative;

}

nav #toggle-btn:active {
    border: 1.4px solid black;

}

.light-ball {
    position: absolute;
    height: 100%;
    /* left :0; */
    /* right: 0; */
    width: 50%;
    border-radius: 50%;
    background-color: #000;
}

.dark-ball {
    position: absolute;
    height: 100%;
    /* left :0; */
    right: 0;
    width: 50%;
    border-radius: 50%;
    background-color: #ffffff;
}

.lightTheme {
    color: #000000;
    background-color: #fff;
}

.darkTheme {
    color: white;
    background-color: #000;
}

.lightP {
    color: #000;
}

.darkP {
    color: #fff;
}